.vscode
*.bin
cmake.*
MakeFile
*.txt
*.cmake
*.make
*.o
*.internal
*.log
*.marks
*.out
build/CMakeFiles/my_firmware.dir/CXX.includecache
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/Makefile2
build/CMakeFiles/Progress/6
build/my_firmware.hex
build/my_firmware.elf
build/Makefile
Makefile
flash.sh
compile.sh
